:root{
  
  --column-width: 280px;
  --wide-column-width: 384px;
  --gutter: 32px;
  --content-width: calc(var(--column-width)*4 + var(--gutter)*3);
  --light-dark: #333;
  --strong-dark: #222;
  --gradient-golden: linear-gradient(90deg, goldenrod, rgb(233, 139, 17));
  --gradient-dark: linear-gradient(167deg, #222, #000);
  --content-padding: 16px 32px;
  --card-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
  --button-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
  --button-hover-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  --light-golden: rgb(209, 169, 68);

}

body{
  color: white;
  background-color: #333;
}

body a{
  text-decoration: none;
  color: white;
}

#page-container{
  margin: 64px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: var(--content-width);
}

#page-container > div{
  margin-right: var(--gutter);
  flex: none;
}

#menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: var(--column-width);
}

.menu-item{
  height: 48px;
  min-width: 200px;
  background-image: var(--gradient-golden);
  box-shadow: var(--button-shadow);
  border: 1px solid black;
}

.menu-item a{
  font-size: 16px;
  color: white;
  text-decoration: none;
  min-width: 184px;
  height: 48px;
  position: absolute;
  padding-left: 16px;
  line-height: 48px;
}

#content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(var(--column-width) * 2 + 32px);
}


#content-container > div{
  border: 1px solid red;
  box-shadow: var(--card-shadow);
  background-image: var(--gradient-dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 32px;
}

#main-frame > div{
  border: 1px green solid;
  display: flex;
  flex-direction: column;
}

select{
  width: 248px;
  font-size: 16px;
  padding: 8px;
}

table{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td, th{
  border: 1px white solid;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: var(--light-dark);
}

tr:nth-child(even){
  background-color: var(--strong-dark);
}

.table a:hover {
  text-decoration: underline;
}


#blank{
  width: var(--column-width);
  height: 50px;
}
