:root{
  
  --column-width: 280px;
  --wide-column-width: 384px;
  --gutter: 32px;
  --content-width: calc(var(--column-width)*4 + var(--gutter)*3);
  --light-dark: #333;
  --strong-dark: #222;
  --gradient-golden: linear-gradient(90deg, goldenrod, rgb(233, 139, 17));
  --gradient-dark: linear-gradient(167deg, #222, #000);
  --content-padding: 16px 32px;
  --card-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
  --button-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
  --button-hover-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  --light-golden: rgb(209, 169, 68);

}

body {
  background-color: var(--strong-dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/************ NAVBAR ***************/

/* Navbar container */
#navbar {
  background-color: var(--strong-dark);
  display: flex;
  align-items: flex-start;
  padding: 0 0;
  height: 64px;
}

#navbar-left{
  flex: 1 1 100%;
  display: flex;
  margin-left: calc((100% - var(--content-width))/2);
  align-items: center;
}

#navbar-right{
  flex: none;
  display: flex;
  margin-right: calc((100% - var(--content-width))/2);
  align-items: center;
}

/* fill whole navbar vertically (1 odd pixel) */
#navbar > div{
  height: 100%;
}

/* Links inside the navbar */
#navbar > div a {
  font-size: 16px;
  color: white;
  padding: 22px 16px;
  text-decoration: none;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 22px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Hover effect applied to navbar links and buttons */
#navbar > div a:hover, .dropdown:hover .dropbtn {
  background-image: var(--gradient-golden);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-golden);
  min-width: 160px;
  box-shadow: var(--button-shadow);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  min-width: 160px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

#avatar-small {
  margin-left: 16px;
  border-radius: 50%;
  box-shadow: var(--button-shadow);
  width: 56px;
  height: 56px;
}

#hello-btn{
  min-width: 192px;
  text-align: left;
}

#navbar-left-collapsed{
  display: none;
}

#navbar-right-collapsed{
  display: none;
}

@media (max-width: 1032px) {

  #navbar{
    height: 96px;
  }

  #navbar-right{
    display: none;
  }

  #navbar-left{
    display: none;
  }

  #navbar a{
    font-size: 1.25em !important;
  }

  #navbar-left-collapsed{
    flex: 1 1 100%;
    display: flex;
    margin-left: calc((100% - var(--content-width))/2);
    align-items: center;
    justify-content: flex-start;
  }

  #navbar-right-collapsed{
    flex: none;
    display: flex;
    margin-right: calc((100% - var(--content-width))/2);
    align-items: center;
  }

  #navbar-left-collapsed > div a:hover{
    background-image: none;
  }

  /* Hover effect applied to navbar links and buttons */
  .dropdown-collapsed:hover .dropbtn {
    background-image: var(--gradient-golden);
  }

 /* The dropdown container */
  .dropdown-collapsed{
    position: relative;
  }

  /* Show the dropdown menu on hover */
  .dropdown-collapsed:hover .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 96px;
    left: -144px;
    min-width: 240px;
  }

  #hamburguer{
    width: 96px;
    height: 96px;
    padding: 8px;
    margin: 0;
    color: white;
    background-color: var(--strong-dark);
    border: none;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  #hamburguer i{
    transform: scale(1.5);
  }
}