body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2rem;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

/* NAVBAR CSS */

/* Navbar container */
#navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar-left{
  /* overflow: hidden; */

  flex: 1 1 100%;
}

#navbar-right{
  flex: 0 0 300px;
}


/* Links inside the navbar */
#navbar-left a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

#navbar-left a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(141, 141, 141);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: left;
  min-width: 160px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(141, 141, 141);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profile-pic-link {
  padding: 0;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin: 0px 0px;
  padding: 16px 0px;
}

#news-components{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1204px;
}

#news-main{
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

#news-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 1204px;
}

.card{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: black 1px solid;
}

.news-card{
  width: 380px;
  height: 380px;
  padding: 0;
  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
}

#news-card-contents, #news-content, .content{
  padding: 16px 32px;
}

#event-cards, .user-cards, .horizontal-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1204px;
}

.event-card{
  width: 280px;
}

.user-card{
  width: calc(280px - 64px);
  display: flex;
  flex-direction: column;
}

.user-row{
  display: flex;
  flex-direction: row;
}

.blue-pill{
  width: 128px;
  height: 32px;
  background-color: rgba(7, 78, 232, 1);
  border-radius: 48px;
  padding: 0 16px;
  color: white;
}