body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.button{
    color: antiquewhite;
    background-color:firebrick;
}

/* NAVBAR CSS */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(141, 141, 141);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(141, 141, 141);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #profile-pic-link {
    padding: 0;
  }

  #hero-news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* Inside Auto Layout */
    align-self: stretch;
    margin: 0px 0px;
  }

  #news-components{
    /* Auto Layout */
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    flex: 0 380px;
    }
  
  #news-title{

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
  }
  
  #signup-login-pills{
  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 32px 0px;
  }

  #news-content{

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 32px 0px;
  }

  #news-cards{
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  flex: 0 1204px;
  height: 380px;
  }

  .news-card{
  width: 380px;
  height: 380px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* Inside Auto Layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 32px;
  }

  #hero-events {
  height: 400px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;  
  }

  #hero-users{
  height: 552px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  }



