{% extends "new_base.html" %}

{% block content %}

<h1><a href="/admin">Admin Panel</a>: Events Page </h1>

<div>
    <h2>Create Events</h2>
    <form id="event-form" action="/admin/create_event" method="post">
        <p>
            <label for="event_name">
                <input type="text" name="event_name" id="event_name" maxlength="50" size="50" required>
            </label>
        </p>
        <p>
        <label for="event_date">
            <input type="date" name="event_date" id="event_date" required>
        </label>
        </p>
        <p>
        <label for="event_description">
            <textarea name="event_description" id="event_description" rows="10" cols="60%">No description to this event yet</textarea>
        </label>
        </p>
        <div>
            <button type="submit" value="confirm">Create</button>
            <button type="button" onclick="document.getElementById('event-form').reset()">Reset</button>
        </div>
    </form>
</div>
<div>
    <h2>Existing Events</h2>
    <table>
        <thead>
            <th>Event Name</th>
            <th>Date</th>
        </thead>
        {% for event in events %}
        <tr>
            <td>{{ event.event_name }}</td>
            <td>{{ event.date }}</td>
            <td><a href="/admin/edit_event/{{ event.id }}">Edit</a></td>
            <td><a href="/admin/delete_event/{{ event.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}  