<html>

<head>
  {% block head %}
  <title>Woeclipse - Home</title>
  {% endblock %}
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div id="navbar">
      <div id="navbar-left">
        <a href="/"><strong>Woeclipse</strong></a>
        <div class="dropdown">
          <button class="dropbtn">Battle
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/tournments">Tournments</a>
            <a href="/challenges">Challenges</a>
            <a href="/rankedmatches">Ranked Matches</a>
          </div>
        </div>
        <a href="/ranking">Ranking</a>
        <div class="dropdown">
          <button class="dropbtn">More
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/community">Community</a>
            <a href="/rules">Rules</a>
            <a href="/resources">Resources</a>
            <a href="/about">About Us</a>
          </div>
        </div>
        <a href="/contact">Contact Us</a>
      </div>
      <div id="navbar-right">
        {% if current_user.is_authenticated %}
        <div class="navbar" style="float: right;">
          <div class="dropdown">
            <button class="dropbtn">Hello, {{ current_user.username.capitalize() }}
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/stats">Stats</a>
              <a href="/preferences">Preferences</a>
              <a href="/preferences">Change language</a>
              {% if current_user.is_admin %}
              <a href="/admin">Admin Panel</a>
              {% endif %}
              <a href="/signout">Log Out</a>
            </div>
          </div>
          <a href="/profile" id="profile-pic-link">
            <img src="https://via.placeholder.com/40" alt="profile-pic" style="float: right;">
          </a>
        </div>
        {% else %}
        <div style="float: right;">
          <button class="blue pill"><a href="/signin">Log In</a></button>
          <button class="blue pill"><a href="/signup">Sign Up</a></button>
        </div>
        {% endif %}
      </div>
    </div>



  </header>
  <main>
    {% block content%} {% endblock %}
  </main>
  <footer>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <div id="footer-container">
      <div class="footer footer-links">
        <h3>Links</h3>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
      </div>
      <div class="footer footer-links">
        <h3>Links</h3>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
      </div>
      <div class="footer footer-links">
        <h3>Links</h3>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
        <a href="#">link1</a>
      </div>
      <div class="footer footer-icons">
        <img src="https://via.placeholder.com/40" alt="icon">
        <img src="https://via.placeholder.com/40" alt="icon">
        <img src="https://via.placeholder.com/40" alt="icon">
        <img src="https://via.placeholder.com/40" alt="icon">
      </div>
    </div>

  </footer>
</body>