{% extends "new_base.html" %}

{% block content %}

<div id="hero-news" class="hero">
  <div id="news-components">
    <div id="news-main">
      <div id='news-title'>
        <h1>Warriors of Eclipse</h1>
      </div>
      <div id="news-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sapiente ipsum corrupti enim fugiat tempora nobis
        ducimus itaque, modi accusamus
      </div>
      <div id="signup-login-pills">
        <button class="blue pill">Sign Up</button>
        <button class="blue pill">Login</button>
      </div>
    </div>      
  </div>


  <div id="news-cards">
    {% for n in range(3) %}
    <div class="news-card card">
      <div class='news-card-image'>
        <img src="https://via.placeholder.com/380x180" alt="#">
      </div>
      <div id='news-card-contents'>
        <p>Title</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit molestias aspernatur aliquid?</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="hero-events" class="hero">
  <div id="menu-scroll" class="horizontal-menu">
    <div>
      <h1>Upcoming Events</h1>
    </div>
    <div class="menu-arrows">
      <button class='gray pill' style='float: right; width: 40px; height: 40px;'></button>
      <button class='gray pill' style='float: right; width: 40px; height: 40px;'></button>
      </div>
  </div>
  <div id="event-cards">
    {% for event in events %}
    <div class="event-card card">
      <div class="event-card-image">
      <img src="https://via.placeholder.com/280x140" alt="#">
      <span style="display: none;">{{ event.date }}</span>
      </div>
      <div class="content">
        {{ event.event_name }}<br><br>
        {{ event.description }}
      </div>
    </div>
  {% endfor %}  
  </div>
  
</div>

<div id="hero-users" class="hero">
  <div id="menu-seemore" class="horizontal-menu">
    <h1>Champions</h1>
    <button class='gray pill' style='float: right;'>See more</button>
  </div>
  {% for row in range(2) %}
  <div class="user-row">
    <div class="user-cards">
      {% for user in users[row] %}
      <div class="user-card card content">
        <div><img src="https://via.placeholder.com/80" alt="#"></div>
        <div><br><strong>{{ user.username.capitalize() }}</strong><br><br></div>
        <div>Lorem ipsum dolor sit amet consectetur.</div>
      </div>
      {% endfor %}
    </div>  
  </div>
  {% endfor %}

</div>

{% endblock %}