{% extends "base.html" %}

{% block content %}

<div id="username-frame">
  <img src="{{ url_for('static', filename=avatar) }}" alt="avatar-large">
  <div>
    <li>{{ current_user.username.capitalize() }}
    <li>{{ current_user.first_name.capitalize() }} {{ current_user.last_name.capitalize() }}
      <div>
        <img src="https://via.placeholder.com/40" alt="country-flag">
      </div>

      <div id="stats-frame">
        <div id="labels">
          <h2>Stats</h2>
    <li>Team Name:</li>
    <li>Matches Won:</li>
    <li>Matches Drawn:</li>
    <li>Matches Lost:</li>
    <li>Rank:</li>
    <li>Kills:</li>
    <li>Killed:</li>
  </div>
  <div id="values">
    <li></li>
    <li>{{ stats.team_name }}</li>
    <li>{{ stats.matches_w }}</li>
    <li>{{ stats.matches_d }}</li>
    <li>{{ stats.matches_l }}</li>
    <li>{{ stats.rank }}</li>
    <li>{{ stats.kills }}</li>
    <li>{{ stats.killed }}</li>
  </div>
</div>

<div id="badges-frame">
  <h2>Badges</h2>
</div>


{% endblock %}