{% extends "base.html" %}

{% block content %}

<div id="username-frame">
  <img src="{{ url_for('routes.get_file', filename=user.avatar) }}" alt="profile-pic-large" width="80px" height="80px">
  <div>
    <li>{{ user.username.capitalize() }}
      <div>
        <img src="https://via.placeholder.com/40" alt="country-flag">
      </div>

      <div id="stats-frame">
        <div id="labels">
          <h2>Stats</h2>
    <li>Team Name:</li>
    <li>Matches Won:</li>
    <li>Matches Drawn:</li>
    <li>Matches Lost:</li>
    <li>Rank:</li>
    <li>Kills:</li>
    <li>Killed:</li>
  </div>
  <div id="values">
    <li></li>
    <li>{{ user.team_name }}</li>
    <li>{{ user.matches_w }}</li>
    <li>{{ user.matches_d }}</li>
    <li>{{ user.matches_l }}</li>
    <li> ## </li>
    <li>{{ user.kills }}</li>
    <li>{{ user.killed }}</li>
  </div>
</div>

<div id="badges-frame">
  <h2>Badges</h2>
</div>


{% endblock %}